<section class="section benefits-section" id="benefits">
  <div class="container benefits-container">
    <div class="benefits-title">
      <h2 class="benefitsH2">My Soft Skills</h2>
    </div>

    <div class="benefits-lists">
      <ul class="benefits-list">
        <li class="benefits-list-item">
          <div class="benefits-list-links">
            <a class="benefits-link scroll-to" href="#about-me">
              <svg
                class="benefits-link-icon"
                width="24"
                height="24"
                aria-label="about-me icon"
              >
                <use href="./img/icons.svg#icon-about_me"></use>
              </svg>
            </a>
          </div>

          <h3 class="benefitsH3">Flexibility</h3>
          <p class="benefitsP">
            I am very flexible and can adapt to any situation. I am ready to
            change my approach to work depending on the needs of the project.
          </p>
        </li>
        <li class="benefits-list-item">
          <div class="benefits-list-links">
            <a class="benefits-link scroll-to" href="#section-reviews">
              <svg
                class="benefits-link-icon"
                width="24"
                height="24"
                aria-label="reviews icon"
              >
                <use href="./img/icons.svg#icon-reviews"></use>
              </svg>
            </a>
          </div>

          <h3 class="benefitsH3">Communication</h3>
          <p class="benefitsP">
            Understanding customer needs and wants is my priority and I am always
            open to discussions and corrections.
          </p>
        </li>
        <li class="benefits-list-item">
          <div class="benefits-list-links">
            <a class="benefits-link scroll-to" href="#projects">
              <svg
                class="benefits-link-icon"
                width="24"
                height="24"
                aria-label="project icon"
              >
                <use href="./img/icons.svg#icon-project"></use>
              </svg>
            </a>
          </div>

          <h3 class="benefitsH3">Art</h3>
          <p class="benefitsP">
            Thanks to my creative nature, I am ready to accept challenges.
          </p>
        </li>
        <li class="benefits-list-item">
          <div class="benefits-list-links">
            <a class="benefits-link scroll-to" href="#footer">
              <svg
                class="benefits-link-icon"
                width="24"
                height="24"
                aria-label="work_together icon"
              >
                <use href="./img/icons.svg#icon-work_together"></use>
              </svg>
            </a>
          </div>

          <h3 class="benefitsH3">Urgent execution</h3>
          <p class="benefitsP">
            I understand how important time is. Ready to work quickly and
            efficiently, without reducing the quality of work.
          </p>
        </li>
      </ul>
      <div>
        <a id="benefits-action-button" href="#footer"> Contact Me</a>
      </div>
    </div>
  </div>
</section>
