<section class="section hero-section" id="hero">
  <div class="container container-hero">
    <h1 class="title-Hero">
      Hello.<br />
      I'm Fullstack Developer<br />
      Serhii Buriak.
    </h1>

  <ul class="social-links-hero">

    <li class="liGH">
      <a href="https://github.com/BurglachOK" class="aHero" target="_blank" rel="noopener noreferrer nofollow">GH</a>
    </li>

    <li class="liEmail">
      <a href="mailto:serhii.buriak.wien@gmail.com" class="aHero hero-email">serhii.buriak.wien@gmail.com</a>
    </li>

  </ul>

    </div>
</section>
